.div1 {
  position: relative;
  width: 35%;
  left: 50%;
  transform: translateX(-50%);
}

.div1 img {
  width: 100%;
  height: auto;
}

.div3 {
  text-align: center;
  width: 500;
  height: 60%;
}

.div3 img {
  width: 25%;
  height: 30%;
}

#image {
  display: none;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
}

.wybuch {
  width: 100%;
  height: 100%;
}

.div1 button {
  position: absolute;
  display: block;
  margin-top: -11%;
  margin-left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 50%;
  background: transparent;
  border: none;
  color: transparent;
}

body {
  font-family: "Comic Sans MS", arial;
  background-color: #8a664c;
}

p {
  text-align: center;
  font-size: 40px;
}

.pgrzyb {
  font-size: 30px;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  position: relative;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  outline: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Comic Sans MS", arial;
  height: 100%;
  width: 11%;
  background: #755640;
  overflow: hidden;
  text-align: left;
}

.logo {
  height: 10%;
  width: 100%;
}

.menu ul {
  padding: 0;
  list-style: none;
  width: 100%;
  height: 100%;
}
